@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {

  --color-back: #FFFFFF;
  --color-surface: #D8C4B6;

  --color-primary: #213555;
  --color-secondary: #3E5879;


  --color-primary-hover: #3E5879;

  --color-border: #3E5879;
}

.fontoutfit {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-style: normal;
}